@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-in { animation: fadeIn 0.4s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-out { animation: fadeInOut 2.5s; }

@keyframes fadeInOut {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.shake {
  animation: shake .4s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.jump {
  animation: jump 0.4s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.spoiler {
  overflow: hidden;
}
.checker {
  display: none;
}
.toggle {
  display: block;
  overflow: hidden;
  width: 100px;
  height: 20px;
  background: #000000;
  padding: 5px;
  color: #ecf0f1;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
}
.checker:not(:checked) + .toggle + .spoiler {
  height: 0;
}
.checker:checked + .toggle {
  display: none;
}
p.hint {
  white-space: pre;
  font-size: 16px;
  white-space: normal;

}